
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #faf6fee2;
}

/* Navbar section Start */
.navbar ul li a{
    color: white !important;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* navbar end */

/* hero section start */

.hero__section{
    display: flex;
    height: 25px;
    justify-content: center;
}
.title_bold{
   width: 30px;
   font-size: 3rem;
   color: rgb(7, 7, 7);
   padding-top: 20px;
   font-weight: 700;
   text-shadow: 20px rgb(248, 244, 244);

}

.title{
    font-size: 3rem;
    color: rgb(54, 50, 50);
    
}

.sub__title{
    font-size: 1.5rem;
    font-family: georgia;
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding-block: 15px;
    
   
}
.my__btn{
    padding: 10px 30px;
    
    background-color: #9406e0d4;
    color: rgb(37, 34, 34);
    border: none;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.my__btn:hover{
    background-color: hwb(237 7% 5%);
    text-align: center;
    color: rgb(250, 249, 249);
}

.social{
    padding-top:50px;
    
}

.social a{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(238, 153, 239);
    margin: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    overflow: hidden;
    transition:  .6s;
}

.social a:hover{
   color:white ;
}
.social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(128, 7, 158, 0.929);
    z-index: -1;
    transition:  .6s;
    
}
.social a:hover::before{
    width: 100%;
}

.img-fluid{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    cursor: pointer;
}
/* hero section end */

/* about section start */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: white;
    padding-bottom: 6rem;
}

.heading{
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
}
span{
    color: blue;
}

.about-img{
    
    width: 25rem;
     height: 25rem; 
    border-radius: 50%;
    margin: 0 auto;
    padding: 1rem;
    cursor: pointer;
  
}

 /* @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.about-img::after, .about-img::before{
   
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), rgb(31, 65, 232) 0%, rgb(244, 5, 53) 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 5s spin linear infinite;
}

.about-img::before{
    filter: blur(1.5rem);
    opacity: .5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }

    to{
        --angle: 360deg;
    }
} */

.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: .0rem;
    border: 2px solid blue;
    
}
.about-img img:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.521);
}


.about-content{
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;

}

.about-content h3{
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.about-content:hover h3{
    color: blue;
}

.about-content p{
    font-size: 1.6rem;
    margin:2rem 0 3rem;
    text-align: justify;
    padding: 30px;
    font-weight: 600;
}
/* about section end */

/* Education section start */
.services{
    min-height: auto;
    padding-bottom: 7rem;
   
}
.services h2{
         margin-bottom: 0rem;
}

.services .services-container{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       gap: 2rem;
       padding: 5rem;
       cursor:grab ;
}
.services-container p{
    text-align: justify;
  
}

.services-container .services-box{
       flex: 1 1 10rem;
       background: white;
       padding: 2rem 2rem 2rem;
       border-radius: 2rem;
       box-shadow: 0 .1rem .3rem black;
       text-align: center;
       border-top: .5rem solid blue;
       border-bottom: .5rem solid blue;
       transition: .5s ease;
}
.services-container .services-box:hover {
   box-shadow: 0 .1rem .3rem black;
   transform: scale(1.03);
}

.services-box i {
    font-size: 7rem;
    color: blue;
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .6s ease;
}
.services-box:hover h3 {
    color: blue;
}

.services-box p {
   margin-top: 1rem 0 3rem;
    font-size: 1.6rem;
}

.btn{
    display: inline-block;
    padding: 1.0rem 2.6rem;
    background: blue;
    border-radius: .6rem;
    box-shadow: 0 0 05px rgba(0, 0, 0,220);
    font-size: 25px;
    font-weight: 700;
    color: white;
    letter-spacing: .1rem;
    transition: .6s ease;
    
    
}
.btn:hover{
    background:transparent;
    color: blue;

}


/* Education section end */


/* portfolio section design  */




